.body {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #333;
}

h1 {
  font-size: 5rem;
  font-family: sans-serif;
  text-align: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f0f0f0;
    z-index: 10;
}

.navList {
  display: flex;
  margin-right: 2rem;
  margin: 0 1rem;
}

.navList a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
  }
  
  .navList a:hover {
    background: #f0f0f0;
  }

  .aboutMe {
    display: flex;
    justify-items: left;
    align-items: center;
    width: 150%;
    height: 80vh;
    background-color: #000;
  }
  
  .aboutMe img {
    margin: 30px 1px 15px 150px;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 600px;
  }

  .aboutMe > p {
    margin: 20px;
    font-size: 1.2rem;
    font-weight: 200;
    color: #f0f0f0;
    text-indent: 25px;
    text-align: center;
    object-fit: cover;
  }
  
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 0 2rem;
    background: #000000;
  }

  .contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 0 2rem;
    background: #000000;
  }